name: 'Template:Build&Push Container Image'

on:
  workflow_call:

jobs:
  build:
    name: 'Build & push image'
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout code'
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: 'Check input'
        run: |
          if "${{ github.event.inputs.branch != '' }}"; then
            echo "INPUT_BRANCH=${{ github.event.inputs.branch }}" >> $GITHUB_ENV
          else
            echo "INPUT_BRANCH=master" >> $GITHUB_ENV
          fi

      - name: 'Decide on tag'
        id: tagger
        run: |
          tag=$(echo "${{ env.INPUT_BRANCH }}" | sed -e 's/^refs\/heads\///g' -e 's/^refs\/tags\///g' -e 's/^refs\/pull\///g' -e 's/\/merge$//g' | sed -e 's/master/latest/g' | sed -e 's/\//-/g')
          echo "tag=${tag}" >> "$GITHUB_OUTPUT"

      - name: 'Login to Docker Hub'
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: 'Set up Docker Buildx'
        uses: docker/setup-buildx-action@v3

      - name: 'Build and push certificator container image'
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ vars.DOCKERHUB_USERNAME }}/certificator:${{ steps.tagger.outputs.tag }}
