name: 'Template:Validate GOLANG codebase'

on:
  workflow_call:

jobs:
  validate:
    name: 'Validate golang layer'
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: 'Checkout code'
        uses: actions/checkout@v6

      - name: 'Install Golang'
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.x'
          cache: false

      - name: 'Go fmt check'
        run: |
          fmt_out=$(gofmt -s -l .)
          if [ -n "$fmt_out" ]; then
            echo "::error::run gofmt -s on these files:"
            echo "$fmt_out"
            exit 1
          fi

      - name: 'Go vet'
        run: go vet ./...

      - name: 'golangci lint'
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.7
          args: --timeout 4m --config .golangci.yaml

      - name: 'Test (race)'
        run: go test ./... -race
